@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
font-size: 62.5%;
 scroll-behavior: smooth;
}

body {
font-family: 'Open Sans', sans-serif;
font-size: 2rem;
color: #0A1128;
line-height: 1.5;
}

h1, h2, h3 {
 font-family: 'BhuTuka Expanded One', cursive;
}

h1 {
font-size: 6rem; text-transform: uppercase;
}
h2 {
font-size: 6rem; margin-bottom: 5rem; text-transform: uppercase; line-height: 1.2;
}
h3 {
font-size: 5rem;
}
a{
text-decoration: none;
}
p{
margin-bottom: 3rem;
}

/*styles.css (main e menu)*/